body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-container {
    background: rgba(255, 255, 255, 0.85);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.login-container:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 2rem;
    color: #4facfe;
    font-size: 2.2rem;
    font-weight: bold;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
   
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: green;
    outline: none;
    box-shadow: 0 0 8px rgba(79, 172, 254, 0.5);
}

button {
    width: 100%;
    padding: 0.75rem;
    background: linear-gradient(to right, #4facfe, #00c6fb);
    border: 1px solid gray;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(to right, #00c6fb, #4facfe);
    transform: translateY(-3px);
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

#error-message {
    color: red;
    margin-top: 1rem;
    font-size: 0.875rem;
    height: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
}

#error-message.visible {
    opacity: 1;
}
